@import url(http://fonts.googleapis.com/css?family=Roboto:700,300);

html, body {
	width: 100%;
	height: 100%;
}

html, body, p, h1, h2, h3 {
	font-family: "Roboto", "Arial", "sans serif";
	font-weight: 300;
}

h3 {
	background: #232323;
	color: #ffffff;
	width: 100%;
	padding: 15px;
	margin: 10px 0;
	text-align: center;
}

strong {
	font-weight: 700;
}

p, li {
	font-size: 150%;
	margin: 35px 0;
}

th {
	font-size: 100%;
}

img {
	width: 100%;
	display: block;
	margin: 10px auto;
	padding: 0;
}

table {
	font-size: 110%;
}

.container h2 {
	font-weight: bold;
	font-size: 250%;
	margin-top: 2em;
}

.head img, .foot img {
	display: inline;
	width: 200px;
}

.vid-big {
	width: 440px;
	display: block;
	margin: 15px 0;
}

.vid-container {
	margin: 0 auto;
	width: 880px;
	text-align: center;
}

.vid-small {
	width: 218px;
	display: block;
	margin: 15px 0;
}

.foot {
	width:100%;
	padding: 30px;
	padding-top:8em;
	margin-top: 8em;
	background: #252525;
	color: #ffffff;
	font-size: 60%;
}

.chart {
	overflow: hidden;
	text-align: center;
	margin: 15px;
}

.caption {
	margin: 15px auto;
	width: 550px;
	font-size: 100%;
}

.bg-none {
	background: rgba(0,0,0,0);
}