@import url(http://fonts.googleapis.com/css?family=Roboto:300);

html, body {
	width: 100%;
	height: 100%;
}

html, body, p, h1, h2, h3 {
	font-family: "Roboto", "Arial", "sans serif";
	font-weight: 300;
}

p {
	font-size: 150%;
}

th {
	font-size: 150%;
}

img {
	width: 80%;
	display: block;
	margin: 20px auto;
	padding: 0;
}

.container h2 {
	font-weight: bold;
	font-size: 250%;
	margin-top: 2em;
}

.head img {
	width: 400px;
}

.foot {
	width:100%;
	padding: 30px;
	padding-top:12em;
	margin-top: 8em;
	background: #252525;
	color: #ffffff;
	font-size: 60%;
}

.chart {
	overflow: hidden;
	text-align: center;
	margin: 15px;
}

.bg-none {
	background: rgba(0,0,0,0);
}